.container{
    margin: auto;
    width: 765px;
    position: relative;
    top: 65px;
}
figure.front {
  background-color: red;
  display: block;
  height: 300px; 
  position: absolute;
  width: 300px; 
}
figure.right {
  background-color: blue;
  display: block;
  height: 300px; 
  position: absolute;
  width: 300px; 
}
figure.back {
  background-color: green;
  display: block;
  height: 300px; 
  position: absolute;
  width: 300px; 
}
figure.left {
  background-color: purple;
  display: block;
  height: 300px; 
  position: absolute;
  width: 300px; 
}
.cube { 
  -webkit-transform-style: preserve-3d; 
}
figure { 
  -webkit-transform-origin: 50% 50% 0; 
  font-size: 15em;
  text-align: center;
  color: white;
}
.front { -webkit-transform: translateZ(150px);}
.back { -webkit-transform: rotateY(180deg) translateZ(150px);}
.left { -webkit-transform: rotateY(-90deg) translateZ(150px); }
.right { -webkit-transform: rotateY(90deg) translateZ(150px); }

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotateY(0); }
  100% { -webkit-transform: rotateY(-360deg); }
}
.cube { -webkit-animation: rotate 2s infinite linear; }